div{
    width:280px;
    height:490px;
    background-color:black;
    border-color:brown;
    border-width: 3px;
    float: left;
    margin: 10px;

}
img{
    width:200px;
    height:170px;
    margin-top: 20px;
    margin-left: 20px;
}
#d1{
    color: aliceblue;
    text-align: center;
}
#d2{
    color: antiquewhite;
    text-align: center;
}


